@charset "utf-8";

$navbar-background-color: #333;
$navbar-height: 4rem;
$content-heading-weight: 400;
$dropdown-menu-min-width: 1rem;
$timeline-marker-color: white;
$footer-padding: 2rem;
$navbar-burger-color: #ddd;
$hero-body-padding: 1rem 2rem 2rem;

@import "~bulma/bulma.sass";

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  font-family: 'Nunito';
  color: #333;
  font-size: 18px;
}

@media (min-width: 1440px) {
  .limited-navbar {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
  }
}

.navbar-brand a.navbar-item:hover {
  color: #fff;
}

a.navbar-burger:hover {
  color: white;
}

.navbar-item {
  padding: 0.5rem 1rem;
  color: #ddd
}

.navbar-item-current {
  background-color: #666;
}

.mdx-content {
  text-align: justify;
}

.mdx-content h2 {
  font-size: 1.5em;
}

.mdx-content h3 {
  font-size: 1.2em;
}
